<ion-view view-title="Todo">
  <ion-content padding="false">
    <div class="list">
      <label class="item item-input item-floating-label">
          <span class="input-label">Todo</span>
          <input name="inpput-title" type="text" placeholder="Todo" ng-model="todo.todoItem.title" ng-change="todo.titleChanged()">
      </label>

      <ion-toggle ng-model="todo.workToggled" toggle-class="toggle-energized">Work related</ion-toggle>

    </div>
    <div class="row">
        <button class="button button-balanced button-block" ng-click="todo.saveTodo()" ng-disabled="!todo.canSave">
        Save
      </button>
    </div>
    <div class="row">
        <button class="button button-assertive button-block" ng-click="todo.removeTodo()" ng-show="todo.canRemove">
        Remove
      </button>
    </div>

  </ion-content>
</ion-view>